@charset "UTF-8";

body {
	background-color: black;
	color: #eee;
	font-size: 15px;
	padding: 20px 50px;
}

header {
	background-color: aliceblue;
	color: #ccc;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

footer {
	text-align: right;
}